#menu-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
} 


#menu-cartao {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}


.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 20%;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}


#quemsomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

#quemsomos_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#quemsomos_content img{
    width: 90%;
    height: 100%;
    border-radius: 40px;
    padding: 20px;
    margin : 20px 0px 20px 0px;
}


#quemsomos_content p{
    max-width: 90%; /* mesmo valor da imagem */
    text-align: center;
    margin-top: 16px;
    font-size: 1.2rem;
    line-height: 1.6;
}
@media screen and (max-width: 1500px) {
    
    #menu-cartao{
        flex-wrap: wrap;
        justify-content: center;
    }

    .servico{
        width: calc(34% - 15px);
        padding: 15px;
    }

    #servico-image{
        border: 10%;

    }
     #menu .section-subtitle{
        text-align: center;
    }
}


@media screen and (max-width: 975px){
    .servico {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 18px;
        width: calc(60% - 12px);
        padding: 20px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
    }

    #menu .section-subtitle{
        text-align: center;
    }

    #servico-image{
        border: 10%;

    }
}

@media screen and (max-width: 600px){
    .servico {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 10px;
        width: 50%;
        padding: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
    }
    .servico-image{
        width: 80%;
        height: 60%;
        border-radius: 10%;

    }

    #menu .section-subtitle{
        text-align: center;
    }
}
